mark {
  background-color: #fe70bee2; }

nav {
  display: inline-block;
  background: #ebebeb;
  padding-top: 40px;
  width: 100%;
  height: 150px;
  font-family: "Cairo", sans-serif;
  /*.logo{
      position: absolute;
      font-size: 2.3rem;
      color:$font-color;
      font-weight: 600;
      padding-top: 15px;
      padding-left: 0;
      
      
  }*/ }
  nav .fondo-nav {
    background-color: #ebebeb;
    height: 100%; }
  nav .navbar-toggler {
    border: 0;
    flex-direction: row; }
  nav .position-izq {
    flex-direction: row-reverse; }
  nav .contenedor-a .logo {
    position: absolute;
    font-size: 2rem;
    padding-top: 15px;
    padding-left: 0; }
  nav a {
    font-family: "Cairo", sans-serif;
    color: #231f20;
    padding: 30px;
    font-size: 1.5rem;
    text-decoration: underline;
    cursor: pointer; }
    nav a:hover {
      color: #fe70bee2;
      transform: scale(1.7rem);
      font-weight: 700; }

@media only screen and (max-width: 1200px) {
  .fondo-nav {
    background-color: #ebebeb; }

  .navbar-toggler {
    border: 0;
    flex-direction: row; }

  .position-izq {
    flex-direction: row-reverse; }

  a {
    color: #231f20; }
    a:hover {
      color: #fe70bee2; } }
@media only screen and (min-width: 360px) {
  .fondo-nav {
    background-color: #fe70bee2; }

  .navbar-toggler {
    border: 0;
    flex-direction: row; }

  .position-izq {
    flex-direction: row-reverse; }

  a {
    color: #231f20; }
    a:hover {
      color: #ebebeb; } }
footer {
  background: #ebebeb;
  width: 90%;
  height: 480px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-top: 60px;
  margin-right: 5%;
  margin-left: 5%; }
  footer .fila-primera {
    font-family: "Cairo", sans-serif;
    font-size: 2rem;
    color: #231f20;
    padding-top: 30px;
    padding-bottom: 40px; }
  footer .fila-segunda {
    font-family: "Cairo", sans-serif;
    font-size: 3.5rem;
    color: #231f20;
    padding-top: 30px;
    padding-bottom: 0px; }
  footer .fila-tercera {
    font-family: "Cairo", sans-serif;
    font-size: 1.5rem;
    color: #231f20;
    padding-top: 30px;
    padding-bottom: 0px; }
  footer .fila-cuarta {
    font-family: "Cairo", sans-serif;
    font-size: 1.2rem;
    color: #231f20;
    padding-top: 30px;
    padding-bottom: 0px; }
  footer a:hover {
    color: #fe70bee2; }

mark {
  background-color: #fe70bee2; }

section {
  padding-left: 10%;
  padding-right: 10%; }

.formulario {
  width: 100%;
  background-color: #ebebeb;
  margin: 0px;
  padding: 0; }

h4 {
  font-family: "Cairo", sans-serif;
  font-size: 2.4rem;
  padding: 30px;
  color: #fe70bee2; }

form {
  font-size: 1.8rem;
  background-color: #ebebeb;
  width: 80%; }

form .form-control {
  border-bottom: 1px solid #231f20;
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent; }

form label {
  padding: 30px; }

/*Para que los links no tengan subrayado*/
a:link,
a:visited,
a:active {
  text-decoration: none; }

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 0;
  background: #ebebeb;
  margin: 0;
  padding: 0; }
  header .contenedor-nav {
    background: #ebebeb;
    width: 90%;
    height: 200px; }
  header .caja-rosa {
    width: 100%;
    height: 10px;
    background-color: #231f20; }

body {
  background-color: violet;
  background: #ebebeb;
  line-height: 1.2;
  width: 100%;
  height: auto;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px; }

section {
  width: 100%;
  height: auto;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%; }
  section .contenedor-90 {
    width: 90%;
    height: auto; }
  section .contenedor-100, section .contenedor-100-p {
    background: #ebebeb;
    width: 100%;
    height: auto; }
  section .contenedor-100-p {
    padding-bottom: 50px; }
  section .texto1 {
    width: 65%;
    padding-top: 30px;
    padding-bottom: 40px; }
  section .p {
    font-family: "Cairo", sans-serif;
    font-size: 3.5rem; }
  section .p2 {
    font-family: "Cairo", sans-serif;
    font-size: 2.4rem;
    margin: 0; }
  section .p3 {
    font-family: "Cairo", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fe70bee2;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 30px; }
  section .color-2 {
    background-color: #fe70bee2; }

.img-sec-estudio, .img-sec-estudio-p {
  width: 70%; }

main {
  width: 100%;
  background-color: #231f20; }
  main .contenedor-90 {
    width: 100%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px; }
  main .p {
    font-family: "Cairo", sans-serif;
    font-size: 2.4rem;
    color: #ebebeb;
    padding-right: 60px; }
  main .p2 {
    font-family: "Cairo", sans-serif;
    font-size: 2.4rem;
    font-weight: lighter;
    color: #ebebeb;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px; }
  main .p3 {
    font-family: "Cairo", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fe70bee2;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    padding-bottom: 30px; }
  main .color-2 {
    background-color: #fe70bee2; }

.p4, .p4--blanco {
  font-family: "Cairo", sans-serif;
  font-size: 1.5rem;
  color: #231f20;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 0px;
  padding-right: 60px;
  padding-top: 0px;
  padding-bottom: 0px; }

.p4--blanco {
  color: #ebebeb; }

.img-sec-estudio, .img-sec-estudio-p {
  width: 60%;
  height: auto;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 5%;
  padding-bottom: 5%; }

.img-sec-estudio-p {
  padding-left: 10%;
  padding-right: 0%;
  padding-top: 5%;
  padding-bottom: 5%; }

.caja1 {
  text-align: right; }

.caja2 {
  text-align: left; }

.project {
  width: 100%;
  height: auto; }

.img-project {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px; }

.img-project2 {
  width: 100%;
  height: 80%;
  object-fit: cover;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px; }

.p-p {
  font-family: "Cairo", sans-serif;
  font-size: 1.5rem;
  color: #231f20;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px; }

.slide {
  width: 100%; }
  .slide .img-carrusel {
    width: 80%;
    height: 800px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 5%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%; }

img {
  object-fit: cover; }

.fondo-studio {
  background-color: #fe70bee2; }

.padding {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 100px;
  padding-bottom: 0px; }

.padding1 {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px; }

.newspaper {
  column-count: 2; }

/*# sourceMappingURL=style.css.map */
