mark {
  background-color: #ffcc00; }

mark {
  background-color: #ffcc00; }

nav {
  display: inline-block;
  background: #ebebeb;
  padding-top: 40px;
  width: 100%;
  height: 150px;
  font-family: "Cairo", sans-serif;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0%;
  padding-bottom: 0%; }
  @media only screen and (min-width: 360px) {
    nav {
      padding-top: 40px;
      height: 70px; } }
  @media only screen and (min-width: 1200px) {
    nav {
      padding-top: 40px;
      height: 150px; } }
  nav .fondo-nav {
    background-color: #ebebeb;
    height: 100%; }
  nav .navbar-toggler {
    border: 0;
    flex-direction: row; }
    nav .navbar-toggler:hover {
      border: 0; }
  nav .contenedor-a {
    position: absolute;
    width: 90%; }
    nav .contenedor-a .position-izq {
      flex-direction: row-reverse;
      position: relative; }
    nav .contenedor-a .logo {
      font-size: 2rem;
      padding-top: 15px;
      padding-right: 0;
      padding-left: 0; }
      @media only screen and (min-width: 360px) {
        nav .contenedor-a .logo {
          font-size: 1.5rem;
          padding-top: 90px;
          padding-right: 90px;
          padding-left: 0px; } }
      @media only screen and (min-width: 1200px) {
        nav .contenedor-a .logo {
          font-size: 2rem;
          padding-top: 15px;
          padding-right: 0px;
          padding-left: 0px; } }
  nav a {
    font-family: "Cairo", sans-serif;
    color: #231f20;
    padding: 30px;
    font-size: 1.5rem;
    text-decoration: underline;
    cursor: pointer; }
    nav a:hover {
      color: #ffcc00;
      transform: scale(1.7rem);
      font-weight: 700; }

mark {
  background-color: #ffcc00; }

footer {
  background: #ebebeb;
  width: 100%;
  height: 410px;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10%;
  padding-right: 10%; }
  @media only screen and (min-width: 360px) {
    footer {
      padding-top: 0px;
      padding-bottom: 5px;
      padding-left: 5%;
      padding-right: 5%; } }
  @media only screen and (min-width: 1200px) {
    footer {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 10%;
      padding-right: 10%; } }
  footer .fila-primera {
    font-family: "Cairo", sans-serif;
    font-size: 2rem;
    color: #231f20;
    padding-top: 30px;
    padding-bottom: 40px; }
    @media only screen and (min-width: 360px) {
      footer .fila-primera {
        font-size: 1.5rem;
        padding-top: 10px;
        padding-bottom: 10px; } }
    @media only screen and (min-width: 1200px) {
      footer .fila-primera {
        font-size: 2rem;
        padding-top: 30px;
        padding-bottom: 40px; } }
  footer .fila-segunda {
    font-family: "Cairo", sans-serif;
    font-size: 3.5rem;
    color: #231f20;
    padding-top: 30px;
    padding-bottom: 0px; }
  footer .fila-tercera {
    font-family: "Cairo", sans-serif;
    font-size: 1.5rem;
    color: #231f20;
    padding-top: 30px;
    padding-bottom: 0px; }
    @media only screen and (min-width: 360px) {
      footer .fila-tercera {
        font-size: 1.5rem; } }
    @media only screen and (min-width: 1200px) {
      footer .fila-tercera {
        font-size: 1.5rem; } }
  footer .fila-cuarta {
    font-family: "Cairo", sans-serif;
    font-size: 1.2rem;
    color: #231f20;
    padding-top: 30px;
    padding-bottom: 20px; }
  footer a:hover {
    color: #ffcc00; }

mark {
  background-color: #ffcc00; }

section {
  padding-left: 10%;
  padding-right: 10%; }

.formulario {
  width: 100%;
  background-color: #ebebeb;
  margin: 0px;
  padding: 0; }

h4 {
  font-family: "Cairo", sans-serif;
  font-size: 2.4rem;
  padding: 30px;
  color: #ffcc00; }
  @media only screen and (min-width: 360px) {
    h4 {
      font-size: 1.5rem; } }
  @media only screen and (min-width: 1200px) {
    h4 {
      font-size: 2.4rem; } }

form {
  font-size: 1.8rem;
  background-color: #ebebeb;
  width: 80%; }
  @media only screen and (min-width: 360px) {
    form {
      font-size: 1.2rem;
      width: 90%; } }
  @media only screen and (min-width: 1200px) {
    form {
      font-size: 1.8rem;
      width: 80%; } }

form .form-control {
  border-bottom: 1px solid #231f20;
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  padding-bottom: 30px; }
  @media only screen and (min-width: 360px) {
    form .form-control {
      padding-top: 0px; } }
  @media only screen and (min-width: 1200px) {
    form .form-control {
      padding-bottom: 30px; } }

form label {
  padding: 30px; }
  @media only screen and (min-width: 360px) {
    form label {
      padding: 10px; } }
  @media only screen and (min-width: 1200px) {
    form label {
      padding: 30px; } }

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
   /* ----------------------------------------------
* Generated by Animista on 2021-12-28 15:6:59
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
   /**
* ----------------------------------------
* animation slide-bottom
* ----------------------------------------
*/ }
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); } }
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
.kenburns-top:hover {
  -webkit-animation: kenburns-top 0.5s ease-out both;
  animation: kenburns-top 0.5s ease-out both;
       /* ----------------------------------------------
* Generated by Animista on 2021-12-28 15:40:41
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
       /**
* ----------------------------------------
* animation kenburns-top
* ----------------------------------------
*/ }
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.35) translateY(-15px);
    transform: scale(1.35) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.35) translateY(-15px);
    transform: scale(1.35) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }
/*Para que los links no tengan subrayado*/
a:link,
a:visited,
a:active {
  text-decoration: none; }

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 0;
  background: #ebebeb;
  margin: 0;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 0%; }
  header .contenedor-nav {
    background: #ebebeb;
    width: 100%;
    height: 200px; }
  header .caja-rosa {
    width: 100%;
    height: 10px;
    background-color: #231f20; }

body {
  background-color: violet;
  background: #ebebeb;
  line-height: 1.2;
  width: 100%;
  height: auto;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px; }

section {
  width: 100%;
  height: auto;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%; }
  @media only screen and (min-width: 360px) {
    section {
      padding-top: 0px;
      padding-bottom: 5px;
      padding-left: 5%;
      padding-right: 5%; } }
  @media only screen and (min-width: 1200px) {
    section {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 10%;
      padding-right: 10%; } }
  section .contenedor-100, section .contenedor-100-p {
    background: #ebebeb;
    width: 100%;
    height: auto; }
  section .contenedor-100-p {
    padding-bottom: 50px; }
  section .texto1 {
    width: 65%;
    padding-top: 30px;
    padding-bottom: 40px; }
    @media only screen and (min-width: 360px) {
      section .texto1 {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px; } }
    @media only screen and (min-width: 1200px) {
      section .texto1 {
        width: 65%;
        padding-top: 30px;
        padding-bottom: 40px; } }
  section .p {
    font-family: "Cairo", sans-serif;
    font-size: 3.5rem; }
    @media only screen and (min-width: 360px) {
      section .p {
        font-size: 2rem; } }
    @media only screen and (min-width: 1200px) {
      section .p {
        font-size: 3.5rem; } }
  section .p2 {
    font-family: "Cairo", sans-serif;
    font-size: 2.4rem;
    margin: 0; }
    @media only screen and (min-width: 360px) {
      section .p2 {
        font-size: 1.5rem; } }
    @media only screen and (min-width: 1200px) {
      section .p2 {
        font-size: 2.4rem; } }
  section .p3 {
    font-family: "Cairo", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffcc00;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 30px; }
  section .color-2 {
    background-color: #ffcc00; }

.img-sec-estudio, .img-sec-estudio-p {
  width: 70%; }

main {
  width: 100%;
  background-color: #231f20; }
  main .contenedor-90 {
    width: 100%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px; }
  main .cont-main {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 30px; }
  main .p {
    font-family: "Cairo", sans-serif;
    font-size: 2.4rem;
    color: #ebebeb;
    padding-right: 60px; }
    @media only screen and (min-width: 360px) {
      main .p {
        font-size: 1.5rem;
        padding-right: 5px; } }
    @media only screen and (min-width: 1200px) {
      main .p {
        font-size: 2.4rem;
        padding-right: 60px; } }
  main .p2 {
    font-family: "Cairo", sans-serif;
    font-size: 2.4rem;
    font-weight: lighter;
    color: #ebebeb;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px; }
    @media only screen and (min-width: 360px) {
      main .p2 {
        font-size: 2rem; } }
    @media only screen and (min-width: 1200px) {
      main .p2 {
        font-size: 2.4rem; } }
  main .p3 {
    font-family: "Cairo", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffcc00;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    padding-bottom: 30px; }
  main .color-2 {
    background-color: #ffcc00; }

.p4, .p4--blanco {
  font-family: "Cairo", sans-serif;
  font-size: 1.5rem;
  color: #231f20;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 0px;
  padding-right: 60px;
  padding-top: 0px;
  padding-bottom: 0px; }
  @media only screen and (min-width: 360px) {
    .p4, .p4--blanco {
      font-size: 1.2rem;
      padding-left: 0px;
      padding-right: 5px;
      padding-top: 0px;
      padding-bottom: 0px; } }
  @media only screen and (min-width: 1200px) {
    .p4, .p4--blanco {
      font-size: 1.5rem;
      padding-left: 0px;
      padding-right: 60px;
      padding-top: 0px;
      padding-bottom: 0px; } }

.p4--blanco {
  color: #ebebeb; }

.img-sec-estudio, .img-sec-estudio-p {
  width: 50%;
  height: auto;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  padding-bottom: 5%; }

.img-sec-estudio, .img-sec-estudio-p {
  width: 60%;
  height: auto;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 5%;
  padding-bottom: 5%; }

.img-sec-estudio-p {
  padding-left: 10%;
  padding-right: 0%;
  padding-top: 5%;
  padding-bottom: 5%; }

.caja1 {
  text-align: right; }

.caja2 {
  text-align: left; }

.project {
  width: 100%;
  height: auto; }

.img-project {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px; }

.img-project2 {
  width: 100%;
  height: 80%;
  object-fit: cover;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px; }

.p-p {
  font-family: "Cairo", sans-serif;
  font-size: 1.5rem;
  color: #231f20;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px; }

.slide {
  width: 100%; }
  .slide .img-carrusel {
    width: 80%;
    height: 800px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 5%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%; }
    @media only screen and (min-width: 360px) {
      .slide .img-carrusel {
        width: 90%;
        height: 250px; } }
    @media only screen and (min-width: 768px) {
      .slide .img-carrusel {
        width: 80%;
        height: 600px; } }
    @media only screen and (min-width: 1200px) {
      .slide .img-carrusel {
        width: 80%;
        height: 800px; } }

img {
  object-fit: cover; }

.fondo-studio {
  background-color: #ffcc00; }

.padding {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 100px;
  padding-bottom: 0px; }

.padding1 {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px; }

.newspaper {
  column-count: 2; }
  @media only screen and (min-width: 360px) {
    .newspaper {
      column-count: 1; } }
  @media only screen and (min-width: 1200px) {
    .newspaper {
      column-count: 2; } }

/*# sourceMappingURL=style.css.map */
