@import"global";


section {
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .formulario {
    width: 100%;
    background-color: $fondo;
    margin: 0px;
    padding: 0;
  }
  
  h4 {
    font-family: $fuente-titulos;
    font-size: $font-h2;
    padding: 30px;
    color: $fondo-2;
  }
  
  form {
    font-size: 1.8rem;
    background-color: $fondo;
    width: 80%;
  }
  
  form .form-control {
    border-bottom: 1px solid $fondo-3;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
  }
  
  form label {
    padding: 30px;
  }
 
  

