//FONDOS

$fondo:#ecebe3;
$fondo-2:#ffcc00;
$fondo-3:#231f20;



//FONTS

$fuente-titulos: 'Cairo', sans-serif;
$font-color:#231f20;
$font-color-second:#ffcc00;
$font-color-blanco:#ecebe3;
$font-p: 1.2rem;
$font-h1:3.5rem;
$font-h2:2.4rem;
$font-h3:2rem;
$font-h4:1.5rem;

mark{
    //background: linear-gradient(160deg, #ffcc00 30%, #fee41f 51%, #fff700 70%);//
    background-color: #ffcc00;
    
    
}


