//FONDOS

$fondo:rgb(235, 235, 235);


//FONTS

$fuente-titulos: 'Cairo', sans-serif;
$font-color:black;
$font-color-second:#2f9f33e2;
$font-p: 1.2rem;
$font-h1:3.5rem;
$font-h2:2.4rem;
$font-h3:2rem;
$font-h4:1.5rem;
