
@media (min-width:1400px){
    nav {
        width: 60%;
        margin:auto;
    }
}

//@media (min-width:940px){
    //text-align: center;

//}
/*
@media only screen and (max-width: 400px) {
    nav{
        height: 150px;

    
        .logo{

            font-size: 1.5rem;
            font-weight: 600;
            padding-top: 15px;
            
            
        }
        .navbar-toggler{
            border: 0;
            text-align: left;
            
        }
    
    }
    body{  
        line-height: 1;       
    }
    section{
        width: 100%;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        
    }


}*/


//responsive//

@media only screen and (max-width: 1200px) {

    header {
        height: 200px;
    }

    nav {
        height: 10px;

        .fondo-nav {
            background-color: rgb(235, 235, 235);
        }

        .navbar-toggler {
            border: 0;
            text-align: left;

        }

    }

    body {
        background-color: violet;
        background: $fondo;
        line-height: 1.8;
        width: 100%;
        height: auto;
        @include margin (0px, 0px, 0px, 0px);



        section {
            width: 100%;
            height: auto;
            @include margin (0%, 0%, 0%, 0%);
            @include padding (50%, 50%, 50%, 50%);








            .contenedor-90 {

                //background: $fondo;
                width: 90%;
                height: auto;
                //height: 400px;

            }

            .contenedor-100 {
                background: $fondo;
                width: 100%;
                height: auto;
            }

            .contenedor-100-p {
                @extend .contenedor-100;
                padding-bottom: 80px;
            }



            .texto1 {

                width: 65%;
                padding-top: 30px;
                padding-bottom: 40px;

            }


            .p {
                font-family: $fuente-titulos;
                font-size: $font-h1;
            }



            .p2 {
                font-family: $fuente-titulos;
                font-size: $font-h2;
                margin: 0;


            }

            .p3 {
                font-family: $fuente-titulos;
                font-size: $font-h4;
                font-weight: bold;
                color: $fondo-2;
                @include padding (0px, 0px, 0px, 30px);
            }

            .color-2 {
                background-color: $fondo-2;
            }

        }


        .img-sec-estudio {
            width: 70%;

        }


    }

    section {
        width: 100%;
        height: auto;
        @include margin (0%, 0%, 0%, 0%);
        padding-top: 50px;
        padding-bottom: 50px;



        .contenedor-90 {

            width: 90%;
            height: auto;

        }

        .contenedor-100 {
            background: $fondo;
            width: 100%;
            height: auto;
        }



        .texto1 {

            width: 65%;
            padding-top: 30px;
            padding-bottom: 40px;

        }


        .p {
            font-family: $fuente-titulos;
            font-size: $font-h1;
        }



        .p2 {
            font-family: $fuente-titulos;
            font-size: $font-h2;
            margin: 0;


        }

        .p3 {
            font-family: $fuente-titulos;
            font-size: $font-h4;
            font-weight: bold;
            color: $fondo-2;
            @include padding (0px, 0px, 0px, 30px);
        }

        .color-2 {
            background-color: $fondo-2;
        }

    }


    .img-sec-estudio {
        width: 70%;

    }


    main {


        .p {
            font-size: $font-h2;
            padding-right: 5px;


        }

        .p2 {
            font-size: $font-h2;
        }

    }

}









@media only screen and (max-width: 400px) {

    header {
        height: 200px;
    }

    nav {
        height: 10px;

        .fondo-nav {
            background-color: rgb(235, 235, 235);
        }

        /*.logo{

            font-size: 1.5rem;
            font-weight: 600;
            padding-top: 15px;
            
            
        }*/
        .navbar-toggler {
            border: 0;
            text-align: left;

        }

    }
}

body {
    background-color: violet;
    background: $fondo;
    line-height: 1.2;
    width: 100%;
    height: auto;
    @include margin (0px, 0px, 0px, 0px);
    @include padding (0px, 0px, 0px, 0px);

}

section {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 30px;

    .p {
        font-size: 2rem;
    }

    .texto1 {
        margin: 0;
        width: 100%;

    }

    .contenedor-100 {
        padding-bottom: 20px;
    }

    .slide .img-carrusel {
        height: 210px;
    }

}

main {


    .p {
        font-size: 1.4rem;
        padding-right: 5px;


    }

    .p2 {
        font-size: 1.4rem;
    }

}