
@media (min-width:1400px){
    nav {
        width: 60%;
        margin:auto;
    }
}

//@media (min-width:940px){
    //text-align: center;

//}
/*
@media only screen and (max-width: 400px) {
    nav{
        height: 150px;

    
        .logo{

            font-size: 1.5rem;
            font-weight: 600;
            padding-top: 15px;
            
            
        }
        .navbar-toggler{
            border: 0;
            text-align: left;
            
        }
    
    }
    body{  
        line-height: 1;       
    }
    section{
        width: 100%;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        
    }


}*/