//Padding mixin

@mixin padding ($left, $right, $top, $bottom, ) {
    padding-left: $left;
    padding-right: $right;
    padding-top: $top;
    padding-bottom: $bottom;

}

//Margin mixin
@mixin margin ($left, $right, $top, $bottom, ) {
    margin-left: $left;
    margin-right: $right;
    margin-top: $top;
    margin-bottom: $bottom;

}