
@import"medias";

nav{
    display: inline-block;
    background-color: rgb(235, 235, 235);
    padding-top: 40px;
    width: 90%;
    height: 150px;
    font-family:$fuente-titulos;

    .logo{
        position: absolute;
        font-size: 2.3rem;
        color:$font-color;
        font-weight: 600;
        padding-top: 15px;
        padding-left: 0;
        
        
    }
    

    .position-izq{
        flex-direction: row-reverse;
        
    }

    a{
        font-family:$fuente-titulos;
        color:$font-color;
        padding: 30px;
        font-size: 1.5rem;
        text-decoration: underline;
        cursor: pointer;

        &:hover{
            color:$font-color-second;
            transform: scale(1.7rem);
            font-weight: 700;
        }
    }

}