@import"global";
@import"nav";
@import"footer";
@import"medias";
@import"contact";
@import"mapas";
@import"mixin";
@import"animacion";




/*Para que los links no tengan subrayado*/
a:link,
a:visited,
a:active {
    text-decoration: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 0;
    background: $fondo;
    margin: 0;
    @include padding (0%, 0%, 0%, 0%);
    


    .contenedor-nav {

        background: $fondo;
        width: 100%;
        height: 200px;
    }

    .caja-rosa {
        width: 100%;
        height: 10px;
        background-color: $fondo-3;
    }

}

body {
    background-color: violet;
    background: $fondo;
    line-height: 1.2;
    width: 100%;
    height: auto;
    @include margin (0px, 0px, 0px, 0px);
    @include padding (0px, 0px, 0px, 0px);

}

section {
    width: 100%;
    height: auto;

    @include margin (0%, 0%, 0%, 0%);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;


    @include mobile {

        padding-top: 0px;
        padding-bottom: 5px;
        padding-left: 5%;
        padding-right: 5%;


    }

    @include desktop {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 10%;
        padding-right: 10%;

    }




    .contenedor-100 {
        background: $fondo;
        width: 100%;
        height: auto;
    }

    .contenedor-100-p {
        @extend .contenedor-100;
        padding-bottom: 50px;
    }



    .texto1 {

        width: 65%;
        padding-top: 30px;
        padding-bottom: 40px;


        @include mobile {
            width: 100%;
            padding-top: 0px;
            padding-bottom: 0px;

        }

        @include desktop {
            width: 65%;
            padding-top: 30px;
            padding-bottom: 40px;
        }


    }


    .p {
        font-family: $fuente-titulos;
        font-size: $font-h1;

        @include mobile {
            font-size: $font-h3;
        }

        @include desktop {
            font-size: $font-h1;
        }

    }



    .p2 {
        font-family: $fuente-titulos;
        font-size: $font-h2;
        margin: 0;

        @include mobile {
            font-size: $font-h4;

        }

        @include desktop {
            font-size: $font-h2;
        }


    }

    .p3 {
        font-family: $fuente-titulos;
        font-size: $font-h4;
        font-weight: bold;
        color: $fondo-2;
        @include padding (0px, 0px, 0px, 30px);
    }

    .color-2 {
        background-color: $fondo-2;
    }
}



.img-sec-estudio {
    width: 70%;

}







main {

    width: map-get($main, ancho-total);
    background-color: map-get($main, negro);

    .contenedor-90 {

        //background: $fondo;
        width: map-get($main, ancho-total);
        height: auto;
        //height: 400px;
        @include margin (5%, 5%, 0%, 0%);
        @include padding (0px, 0px, 0px, 0px);
    }

    .cont-main {
        width: 100%;
        @include padding (0px, 0px, 0px, 30px);
    }

    .p {
        font-family: $fuente-titulos;
        font-size: $font-h2;
        color: $font-color-blanco;
        padding-right: 60px;

        @include mobile {
            font-size: $font-h4;
            padding-right: 5px;

        }

        @include desktop {
            font-size: $font-h2;
            padding-right: 60px;
        }


    }



    .p2 {
        font-family: $fuente-titulos;
        font-size: $font-h2;
        font-weight: lighter;
        color: $font-color-blanco;
        @include margin (0px, 0px, 0px, 0px);

    }

    .p3 {
        font-family: $fuente-titulos;
        font-size: $font-h4;
        font-weight: 700;
        color: $fondo-2;
        @include padding (0px, 0px, 40px, 30px);
    }



    .color-2 {
        background-color: $fondo-2;
    }

}

.p4 {
    font-family: $fuente-titulos;
    font-size: $font-h4;
    color: $font-color;
    @include margin (0%, 0%, 0%, 0%);
    @include padding (0px, 60px, 0px, 0px);
}

.p4--blanco {
    @extend.p4;
    color: $font-color-blanco;
}


.img-sec-estudio {
    width: 50%;
    height: auto;
    @include padding (20%, 20%, 5%, 5%);

}


.img-sec-estudio {
    width: 60%;
    height: auto;
    @include padding (0%, 0%, 5%, 5%);

}

.img-sec-estudio-p {
    @extend .img-sec-estudio;
    @include padding (10%, 0%, 5%, 5%);
}


.caja1 {
    text-align: right;
}

.caja2 {
    text-align: left;
}



//PROJECT


.project {
    width: 100%;
    height: auto;

}

.img-project {
    width: 100%;
    height: auto;
    object-fit: cover;
    @include padding (5px, 5px, 5px, 5px);
}

.img-project2 {
    width: 100%;
    height: 80%;
    object-fit: cover;
    @include padding (5px, 5px, 5px, 5px);

}

.p-p {

    font-family: $fuente-titulos;
    font-size: $font-h4;
    color: $fondo-3;
    @include margin (0%, 0%, 0%, 0%);
    @include padding (5px, 5px, 5px, 5px);
}






//CARRUSEL

.slide {

    width: 100%;

    .img-carrusel {

        width: 80%;
        height: 800px;

        @include margin (0%, 0%, 5%, 5%);
        @include padding (0%, 0%, 0%, 0%);


        @include margin (0%, 0%, 0%, 5%);
        @include padding (0%, 0%, 0%, 0%);

        @include mobile {
            width: 90%;
            height: 250px;

        }

        @include desktop {
            width: 80%;
            height: 800px;
        }

    }
}


img {

    object-fit: cover;
}

//STUDIO

.fondo-studio {
    background-color: $fondo-2;
}

.padding {
    @include padding (0px, 0px, 100px, 0px);

}

.padding1 {
    @include padding (0px, 0px, 0px, 0px);

}

.newspaper {
    column-count: 2;

    @include mobile {
        column-count: 1;

    }

    @include desktop {
        column-count: 2;
    }

}


